@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

.research-body {
	font-family: 'Roboto', sans-serif;
	margin:40px;
}

.mainPage-body{
	font-family: 'Roboto', sans-serif;
	margin:0;
}

.schedule-body{
	font-family: 'Roboto', sans-serif;
	height: auto;
}

.page-1-h1 {
	color: #736fff;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #cccccd;
}

td,
th {
	padding: 20px;
	text-align: center;
	border: 1px solid #cccccd;
}

td,
th,
table {
	border-collapse: collapse;
}

table {

	width: 100%;
}

.nav-bar {
	display: flex;
	align-items: center;
	height: 65px;
	margin-top: 0px;
	background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  }
  
  .nav-bar div {
	display: flex;
	align-items: center;
	width: 25%;
	text-align: center;
  }
  
  .nav-bar div a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%; /* Set the anchor tag width to 100% */
	text-decoration: none;
	color: black;
	height: 65px;
  }
  
  .nav-bar div:hover {
	background-color: red;
	transition: 0.3s;
  }
  
#side-bar {
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	margin: 0;
	padding: 60px 0 0 0;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: grey;
	list-style-type: none;
	align-items: stretch;
	justify-content: center;
	border: 1px solid black;
	transition: 0.4s;
	width:0;
	
}

.side-bar-elements {
	margin: 50px;
	height: 20vh;
}
#side-bar a{
	text-decoration: none;
	font-size:24px;
	color: #1a1919;
	transition: 0.3s;
}
#side-bar a:hover, .sideBar-close-button:hover {
	color: rgb(255, 255, 255);
}
.sideBar-close-button{
	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
	cursor: pointer;
	transition: 0.3s;
}

.sideBar-open-button {
	text-indent: 10px;
	cursor:pointer;
	font-size: 40px;
	margin-left:4px;
}
.research {
	margin-bottom: 30px;
	text-indent: 6%;
}

.research-title {
	text-align: center;
}

/* cv section */

.parent {
	position: relative;
	background-color: black;
	width: 100%;
}

.left-section {
	position: absolute;
	top: 0;
	height: auto;
	left: 0;
	background-color: red;
	padding-left: 50px;
	width: 61.7%;
}

.right-section {
	background-color: blue;
	position: absolute;
	right: 0;
	top: 0;
	width: 31.6%;
}

.right-section {
	padding-left: 50px
}

.experience {
	margin-top: 100px;
}

.skills {
	margin-top: 100px;
}

/* cv css */
.cv-body{ 	
    margin:0;
    font-family: sans-serif;
}


.main{
    display: flex;
    flex-direction: row;
    width: 95%;
    gap: 1em;
    margin:  1em;
}
.left{
    width: 40%;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    overflow: hidden;
}

.name img{
    width: 100%;
}

.right{
    width: 70%;
}

.name{
    position: relative;
}
.name-h1{
	text-align: center;
	font-size: 2em;
}



.contact{
    padding: .6em 1em;
    
}


.contact i{
    color:#009688;
    margin-right: .5em;
    width: 100%;
    display: inline;
}

.contact a{
    font-size: .9em;
}

.skills{
    padding: 0 1em;
}

.bar{
    width:100% ;
    
    height: 1em;
    background-color: #f1f1f1;
    border-radius: 18px;
    text-align: center;
    color:black;
}

.barr{
    width:100% ;
    height: 2em;
    background-color: #f1f1f1;
    border-radius: 18px;
    color:black;
}


.progress-c{
    width: 80%;
    background-color: #009688;
    border-radius:18px ;
}

.progress-html{
    width:90%;
    background-color:#009688;
    border-radius:18px
}

.progress-js{
    width: 40%;
    background-color:#009688;
    border-radius:18px;
}

.progress-react-native{
    width: 50%;
    background-color:#009688;
    border-radius:18px;
}

.progress-MERN{
    width: 40%;
    background-color:#009688;
    border-radius:18px;
}
.progress-ASP{
    width: 10%;
    background-color:#009688;
    border-radius:18px;
}
.lang{
    padding:1em 1em;
}

.progress-eng{
    width: 90%;
    background-color: #009688;
    border-radius:18px;
    height: 100%;
}

.progress-ar{
    width: 100%;
    background-color:#009688;
    border-radius:18px;
    height: 100%;
}

.progress-fr{
    width: 30%;
    border-radius:18px;
    height: 100%;
    background-color:#009688;
}

.work-exper{
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    padding: 1em;   
}

.section-1 p{
    line-height: 1.5em;
}

.education{
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    padding: 1em;
    margin-top: 1em;
}

.education i{
    color:#009688;
    margin-right: .5em;
}

.education p{
	padding-left:1em
}
.right h1{
    font-size:1.5em;
}

.time{
    color: #009688;
    margin:2em 0;
}
h1,h3{
    color:#757575
}

@media screen and (max-width:426px) {
    .main{
        flex-direction: column;
        margin:1em auto;
    }


    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }
}