@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
	box-sizing: border-box;
    
}
/* index css */
.index-main{
	display: flex;
	
	
}



.index-main section{
	margin: 1em;
	padding: .5em;
	/* border: 1px solid black; */
	border-radius: 1em ;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	height: 70vh;
	width: 31%;

}


.research{
	opacity: 0	;
	
}

.index-main section:hover ,.index-main section:hover .research , .index-main section:hover h2 {
	transform: rotateY(180deg);
	opacity : 1;
	cursor: pointer;
}   

.index-main section ,.research, .index-main section:hover h2  {
	transition: transform 2s, opacity 4s;
}

.research{
	height:54vh ;
}
.research-body {
	font-family: 'Roboto', sans-serif;
	margin:40px;
}
.schedule-body{
	font-family: 'Roboto', sans-serif;
	height: auto;
}

.page-1-h1 {
	color: #736fff;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #cccccd;
}

td,
th {
	padding: 20px;
	text-align: center;
	border: 1px solid #cccccd;
}

td,
th,
table {
	border-collapse: collapse;
}

table {
	width: 100%;
}
.mainPage{
	font-family: "Open Sans", sans-serif;
	margin:0;
	padding:0;
	background-image: url('photos/backgroundLaptop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.mainPage nav{
	display: flex;
	align-items: center;
	height: 7em;
	border-bottom: 0.5px solid #f1f1f1;
  }
  .mainPage nav h2{
	margin-right:5em;
	margin-left:2em;
	color:#f1f1f1;
  }
  .mainPage ul{
	display: flex;
	align-items: center;
	height: 30px;
  }

  .mainPage li{
	margin:2em;
	list-style-type: none;
  }

 li a{
    position: relative;
    text-decoration: none;
	color:#e0dede;
    letter-spacing: 0.5px;
}
 li a:after{
    content: "";
    position: absolute;
    background-color: #f1f1f1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
li a:hover{
    color: #ffffff;
}
li a:hover:after{
    width: 100%;
}
.mainPage h1{
	position:relative;
	left:10.5em;
	color:#f1f1f1;
	font-size:100px;
	width:4em;
	text-align: center;
}
#side-bar {
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	margin: 0;
	padding: 60px 0 0 0;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: grey;
	list-style-type: none;
	align-items: stretch;
	justify-content: center;
	border: 1px solid black;
	transition: 0.4s;
	width:0;
	
}

.side-bar-elements {
	margin: 50px;
	height: 20vh;
}
#side-bar a{
	text-decoration: none;
	font-size:24px;
	color: #1a1919;
	transition: 0.3s;
}
#side-bar a:hover, .sideBar-close-button:hover {
	color: rgb(255, 255, 255);
}
.sideBar-close-button{
	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
	cursor: pointer;
	transition: 0.3s;
}

.sideBar-open-button {
	text-indent: 10px;
	cursor:pointer;
	font-size: 40px;
	margin-left:4px;
}
.research {
	margin-bottom: 30px;
	text-indent: 6%;
}

.research-title {
	text-align: center;
}

/* cv section */

.parent {
	position: relative;
	background-color: black;
	width: 100%;
}

.left-section {
	position: absolute;
	top: 0;
	height: auto;
	left: 0;
	background-color: red;
	padding-left: 50px;
	width: 61.7%;
}

.right-section {
	background-color: blue;
	position: absolute;
	right: 0;
	top: 0;
	width: 31.6%;
}

.right-section {
	padding-left: 50px
}

.experience {
	margin-top: 100px;
}

.skills {
	margin-top: 100px;
}

/* cv css */
.cv-body{ 	
    margin:0;
    font-family: sans-serif;
}


.main{
    display: flex;
    flex-direction: row;
    width: 95%;
    gap: 1em;
    margin:  1em;
}
.left{
    width: 40%;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    overflow: hidden;
}

.name img{
    width: 100%;
}

.right{
    width: 70%;
}

.name{
    position: relative;
}
.name-h1{
	text-align: center;
	font-size: 2em;
}



.contact{
    padding: .6em 1em;
    
}


.contact i{
    color:#009688;
    margin-right: .5em;
    width: 100%;
    display: inline;
}

.contact a{
    font-size: .9em;
}

.skills{
    padding: 0 1em;
}

.bar{
    width:100% ;
    
    height: 1em;
    background-color: #f1f1f1;
    border-radius: 18px;
    text-align: center;
    color:black;
}

.barr{
    width:100% ;
    height: 2em;
    background-color: #f1f1f1;
    border-radius: 18px;
    color:black;
}


.progress-c{
    width: 80%;
    background-color: #009688;
    border-radius:18px ;
}

.progress-html{
    width:90%;
    background-color:#009688;
    border-radius:18px
}

.progress-js{
    width: 40%;
    background-color:#009688;
    border-radius:18px;
}

.progress-react-native{
    width: 50%;
    background-color:#009688;
    border-radius:18px;
}

.progress-MERN{
    width: 40%;
    background-color:#009688;
    border-radius:18px;
}
.progress-ASP{
    width: 10%;
    background-color:#009688;
    border-radius:18px;
}
.lang{
    padding:1em 1em;
}

.progress-eng{
    width: 90%;
    background-color: #009688;
    border-radius:18px;
    height: 100%;
}

.progress-ar{
    width: 100%;
    background-color:#009688;
    border-radius:18px;
    height: 100%;
}

.progress-fr{
    width: 30%;
    border-radius:18px;
    height: 100%;
    background-color:#009688;
}

.work-exper{
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    padding: 1em;   
}

.section-1 p{
    line-height: 1.5em;
}

.education{
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    padding: 1em;
    margin-top: 1em;
}

.education i{
    color:#009688;
    margin-right: .5em;
}

.education p{
	padding-left:1em
}
.right h1{
    font-size:1.5em;
}

.time{
    color: #009688;
    margin:2em 0;
}
h1,h3{
    color:#757575
}

@media screen and (max-width:426px) {
    .main{
        flex-direction: column;
        margin:1em auto;
    }


    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }
}
/*arabic page*/
#secondary-content{
    font-family: Arial, Helvetica, sans-serif; 
}
.secondary-content-article{
    height:30em;
	width:40em;
    padding:1em;
}
.secondary-content-text li{
	margin:10px;
}
.arabic-page{
	background-image: url("https://th.bing.com/th/id/R.fc3855d78ce2ce1962f4bc26b189137e?rik=uE4PMMkPXcipnw&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f10%2fArabic-Wallpaper-HD.jpg&ehk=azRvLZvttE4ylFqqEA%2fVPh0ZJr%2bZHHd2N%2bfaWQ9x%2bRE%3d&risl=&pid=ImgRaw&r=0");
	background-repeat: no-repeat;
	background-size: cover;
}
.secondary-content-text{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px;
    width:25em;
	height:30em;
    background-color: #f8faf9;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.secondary-content-article p{
    text-align:center;
    width:13em;
    color:#868686;
    margin-top:10px;
}

.secondary-content-article h2{
    text-align: center;
	margin-top:-2em;
}
.secondary-content-article hr{
    display:block;
    border:none;
    background-color:#489fe6;
    margin-top:1em;
    height:3px;
    width:6em;
}
.secondary-content-article a{
    margin-top:18px;
    color:#489fe6;
    border:3px solid #489fe6;
    padding:5px 10px;
    border-radius: 3px;
    text-decoration: none;
}
.secondary-content-container{
    display:flex;
    justify-content:center;
	width:100%;
}


/* image gallery */
.media-body{
	margin: 0;
}

.gallery{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col-1,.col-2{
    width:100%;
}

.col-1 img, .col-2 img{
    max-width:100%;
    
}

.gallery img {
    display: block;
}

@media  screen and (max-width:600px) {
    .gallery{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
	.index-main{
		flex-direction: column;
	}
	/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!111 */
	.index-main section{
		width:100%
	}
}

/* ////////////quiz css////////////////// */
.startQuiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
    width:fit-content;
    padding:1em;
    border-radius:5px;
    margin:40vh auto 0 auto;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);

}
#startQuizButton{
    border-radius: 5px;
    padding:.5em 1em;
    margin-right:.5em;  
    background-color:lightgreen;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 2em;
    padding-bottom:.5em;
    border-bottom: 1px solid black;
    
    
}
.header-h{
    display: inline-block;
    font-size: 1.5em;
    width: fit-content;
    margin: 0;
    
}
.header-p{
    margin:0;
}
.questions{
    border:1px solid black;
    padding:1em;
    width: 50%;
    margin:auto;
    display: none;
    border-radius:10px;
    height: 95vh;
    position: relative;
}

#question-title{
    padding-left:.25em;
}
#select-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}
.question{
    border:1px solid black;
    padding: .5em 1em;
    margin:.5em
    
}
#question-left-line{
    height: 2px;
    background-color: black;
    width: 30%;
}


.next-button{
    position: absolute;
    bottom: -18px;
    right: 1.5em;
    padding:.5em 1.5em;
    border-radius:5px;
    background-color:white;
}
#quiz-submit-button{
    display: none;
}
#time{
    background-color: black;
    color: white;
    padding: .5em .75em;
    margin-left:.5em;
    border-radius:5px

}



@media  screen and (max-width:808px) {
    .questions{
        width: 90%;
    }
}

/* /////////end of quiz css////////////// */
